<div class="row ">
    <nav class="navbar bg-light justify-content-end border-bottom border-dark"><!--border-->
        <a class="btn me-3 text-decoration-underline" href="pages/registro.html">Registrase</a>
        
        <div class="dropdown">
        <button type="button" class="btn btn-success dropdown-toggle me-3" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
            Ingresar
        </button>
        <form class="dropdown-menu dropdown-menu-end bg-light p-4" style="width: 400px;">
            <div class="mb-3">
            <label for="" class="form-label">Email</label>
            <input type="email" class="form-control" id="" placeholder="">
            </div>
            
            <div class="d-flex align-self-center  mb-3">

            <div class="col-9">
                <label for="" class="form-label">Clave</label>
                <input type="password" class="form-control" id="" placeholder="">
            </div>

            <div class="col-3 p-2">
                <button type="submit" class="btn btn-primary mt-4">Ingresar</button>
            </div>
            </div>
            <div class="mb-3 d-flex justify-content-center">
            <a href="">Olvide mi clave</a>
            </div>
            
        </form>
        </div>                

    </nav>
</div>