<aside class="col-2 bg-light d-flex flex-column justify-content-between p-0 border border-dark border-end-0"> <!--border-->

    <div class="row text-center">

    <div>
        <div class="rounded p-3">
            <a href="#">
            <img class="img-fluid" src="/public/Avatar.png"/>
            </a>
        </div>

        <h4><span>Riveros Diego</span></h4>
        <p class="p-2">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Natus
            hic quaerat pariatur minus maxime repellendus, sunt voluptates
            voluptate, ullam quisquam nesciunt perferendis neque ut eius
            praesentium magnam optio enim officia.
        </p>
    </div>

    <div>
        <ul class="nav flex-column nav-pills mb-auto">
            <li class="nav-item fw-bold">
                <a href="#" class="nav-link link-dark">
                    Biografía
                </a>
            </li>
            <li>
                <a href="#" class="nav-link link-dark">
                    Trabajos
                </a>
            </li>
            <li>
                <a href="posteos.html" class="nav-link link-dark">
                    Posteos
                </a>
            </li>
            <li>
                <a href="#" class="nav-link link-dark">
                    Contacto
                </a>
            </li>
        </ul>
    </div>

    </div>


    <div class="row mb-3 text-center">
    <span class="">© 2022 - Nombre</span>
    </div>
    
</aside>