<div class="col-3 d-flex flex-column justify-content-between border-start border-dark">  <!--border-->

    <div class="row mt-1">
        <a href="#" class="d-flex align-items-center link-dark text-decoration-none">
            <span class="fs-4">Categorías</span>
        </a>
        <ul class="nav nav-pills flex-column mb-auto">
            <li class="nav-item">
            <a href="#" class="nav-link link-dark"> <i class="fa-solid fa-angle-right fa-xs"></i> Reflexiones </a>
            </li>
            <li>
            <a href="#" class="nav-link link-dark"> <i class="fa-solid fa-angle-right fa-xs"></i> Experiencias </a>
            </li>
            <li>
            <a href="#" class="nav-link link-dark"> <i class="fa-solid fa-angle-right fa-xs"></i> HTML </a>
            </li>
            <li>
            <a href="#" class="nav-link link-dark"> <i class="fa-solid fa-angle-right fa-xs"></i> CSS </a>
            </li>
            <li>
            <a href="#" class="nav-link link-dark"> <i class="fa-solid fa-angle-right fa-xs"></i> JavaScript </a>
            </li>
        </ul>

        <div class="mt-5">
            <form>
            <fieldset >
                <legend>Suscribirse a noticias</legend>
                <div class="mb-3">
                <input type="text" id="disabledTextInput" class="form-control" placeholder="cuenta@mail.com">
                </div>
                <button type="submit" class="btn btn-success float-end">Suscribirse</button>
            </fieldset>
            </form>
        </div>
    </div>

    <div class="row">
        <div class="alert alert-dismissible fade show mt-5 role="alert">
            <a href="https://www.educacionit.com/" target="_blank">
                <img class="img-fluid" src="/public/cursos.png" alt="">
            </a>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>

</div>